@import "./colors.scss";

nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $first;
  z-index: 10;

  > h1 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  > main {
    width: 70%;
    display: flex;
    justify-content: flex-end;

    > a {
      color: $dark;
      margin: 1rem;
      &:hover {
        color: $third;
      }
    }
  }
}
